<!DOCTYPE html>
<html>

<head>
    <title>Libreria</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="input-page">
        <div class="form">
            <h2><b>Libros Disponibles</b></h3>
            <% Object.keys(books).forEach(item => { %>
            <p><b>Titulo</b>: <%= books[item].title %> - <b>Autor</b>: <%= books[item].author %><p>
            <% }) %>
        </div>
        <div class="form">
            <form action="/reservar" method="post">
                <input type="text" name="user" placeholder="Nombre" />
                <input type="text" name="title" placeholder="Libro" />
                <button>Reservar</button>
            </form>
        </div>
        <div class="form">

        </div>
    </div>
</body>

</html>
